.navbar {
    background-color: rgba(52, 152, 219, .9);
    box-shadow: -10 0 0 0;
}
.course-top {
    position: fixed;
    height: 400px;
}
.course-container {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.locked-content {
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}
.btn-pay {
    margin-top: 10px;
}